* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: helvetica;

}

section {
    width: 480px;
    height: 480px;
    background: #222;
    color: white;
}

ul {
    list-style-type: none;
    display: grid;
    grid-template: repeat(4, 120px) / repeat(4, 120px);
    width: 100%;
    padding: 0;
    margin: 0;
}

li {
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

i {
    font-size: 3rem;
}

li i {
    display: none !important;
}

li.show i {
    display: block !important;
}

.bg-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 480px;
    padding: 2rem;
    margin-bottom: 1rem;
    border-radius: .5rem;
    border: 1px solid gray;
    background-color: aliceblue;
}
.btn{
    background-color: rgb(59, 151, 255);
    padding: .5rem 2rem;
    border-radius: .5rem;
    cursor: pointer;
}
.pointer-none {
    pointer-events: none;
}